@charset "utf-8";
/* base */
@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url("../font/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url("../font/SpoqaHanSansNeo-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url("../font/SpoqaHanSansNeo-Bold.woff") format("woff");
  font-weight: 700;
}

body {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

#appLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cont-login {
  width: 440px;
  padding: 38px 30px 30px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  text-align: center;
}
.cont-login .tit-weniv img {
  width: 122px;
  /* reset.css에 추가 */
  /* width: 100%;
  vertical-align: top; */
}
.cont-login .txt-login {
  margin: 32px 0 36px;
  font-size: 16px;
  line-height: 20px;
}

/* 모달 스타일 */
.modal-login {
  display: none;
  height: 100%;
}

.modal-login.on {
  display: block;
}

.modal-login::after {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

.modal-login .cont-form-login {
  position: fixed;
  width: 100%;
  max-width: 520px;
  top: 50%;
  left: 50%;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: #fff;
}

.cont-form-login .tit-form {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding: 20px 0 18px;
  border-bottom: 1px solid #c4c4c4;
}

.cont-form-login .txt-form {
  margin: 26px 0 24px;
  padding-left: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.cont-form-login .form-login {
  padding: 0 24px;
  text-align: center;
}

.form-login .inp-error {
  text-align: left;
}

.form-login .label-hold {
  display: block;
  text-align: left;
  margin: 17px 0 21px;
  cursor: pointer;
  user-select: none;
}

.form-login .label-hold::before {
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  margin-right: 8px;
  vertical-align: -5px;
  background-image: url(../images-login/icon_check_empty.png);
}
/* 접근성 */
.form-login .inp-hold:focus + .label-hold::before {
  outline: 2px solid #f4492e;
  border-radius: 50%;
}

.form-login .inp-hold:checked + .label-hold::before {
  background-image: url(../images-login/icon_check.png);
}

.form-login a[class^="link"] {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #767676;
  text-decoration: none;
}

.form-login .link-signup::after {
  display: inline-block;
  content: "\007C";
  margin: 0 8px 0 12px;
}

.cont-form-login .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 22px 24px;
  box-sizing: content-box;
  background-color: transparent;
  /* z-index: -1; */
}

.cont-form-login .cont-sns-login {
  position: relative;
  margin-top: 30px;
  padding: 30px 24px 25px;
}

.cont-sns-login::before {
  content: "또는";
  display: block;
  width: 52px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #767676;
  background-color: #fff;
  z-index: 10;
}

.cont-sns-login::after {
  position: absolute;
  display: block;
  content: "";
  width: calc(100% - 48px);
  height: 1px;
  top: 8px;
  background: #c4c4c4;
}

.cont-sns-login .list-sns li + li {
  margin-top: 10px;
}
