* {
  box-sizing: border-box;
}

.combine-all {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.character {
  /* position: relative; */
  z-index: 999;
}

.hat {
  position: absolute;
  margin-right: 373px;
  /* display: flex; */
  /* justify-content: space-between; */
}

.hat-circle-small {
  position: absolute;
  width: 180px;
  height: 156px;
  border-radius: 78px;
  margin-left: 75px;
  margin-top: -70px;
  background-color: #ee9696;
}

.hat-circle-big {
  position: absolute;
  width: 165px;
  height: 156px;
  border-radius: 78px;
  margin-left: 145px;
  margin-top: -80px;
  background-color: #ee9696;
}

.hat-bottom {
  position: absolute;
  width: 373px;
  height: 33px;
  border-radius: 26px;
  background-color: #ee9696;
  z-index: 99999;
}

.face {
  position: absolute;
  width: 347px;
  height: 296px;
  border-radius: 100px;
  border: 17px solid #9fffdd;
  background-color: #61fdc5;
  z-index: 9999;
}

.glasses {
  position: absolute;
  display: flex;
  z-index: 9999;
  /* justify-content: space-between; */
}

.eyes-left {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.eye-left {
  position: absolute;
  width: 34px;
  height: 34px;
  margin-top: 68px;
  /* margin-right: 30px; */
  border-radius: 17px;
  background-color: black;
}

.glass-left {
  /* position: relative; */
  width: 124px;
  height: 124px;
  margin-right: 20px;
  border-radius: 62px;
  border: 10px solid black;
  background-color: #e0f9ff;
}

.eyes-right {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.eye-right {
  position: absolute;
  width: 34px;
  height: 34px;
  margin-top: 68px;
  border-radius: 17px;
  background-color: black;
}

.glass-right {
  width: 124px;
  height: 124px;
  border-radius: 62px;
  border: 10px solid black;
  background-color: #e0f9ff;
}

.freckles-left {
}

.freckles-right {
}

.freckles1 {
  width: 10px;
  height: 10px;
  border-radius: 100%;

  background: #c4c4c4;
  z-index: 99992;
}
.freckles2 {
  width: 10px;
  height: 10px;
  border-radius: 100%;

  background: #c4c4c4;
  z-index: 99992;
}
.freckles3 {
  width: 10px;
  height: 10px;
  border-radius: 100%;

  background: #c4c4c4;

  z-index: 99992;
}
.freckles4 {
  width: 10px;
  height: 10px;
  border-radius: 100%;

  background: #c4c4c4;
  z-index: 99992;
}
.freckles5 {
  width: 10px;
  height: 10px;
  border-radius: 100%;

  background: #c4c4c4;
  z-index: 99992;
}
.freckles6 {
  width: 10px;
  height: 10px;
  border-radius: 100%;

  background: #c4c4c4;
  z-index: 99992;
}
.freckles7 {
  width: 10px;
  height: 10px;
  border-radius: 100%;

  background: #c4c4c4;
  z-index: 99992;
}
.freckles8 {
  width: 10px;
  height: 10px;
  border-radius: 100%;

  background: #c4c4c4;
  z-index: 99992;
}

.mouth {
  width: 45px;
  height: 17px;
  border-radius: 9px;
  margin-top: 220px;
  background-color: black;
  z-index: 9999;
}

.large-circle {
  /* position: relative; */
  width: 516px;
  height: 516px;
  border-radius: 258px;
  border: 12px solid #eae7e7;
  margin-left: 361px;
  margin-top: -363px;
  background-color: #393838;
  z-index: 1;
}
